.leadership-examples ul {
    list-style: none;
    padding: 0;
}

.leadership-examples ul.examples {
    padding-bottom: 10px; 
    border-bottom: 1px solid #bbb;
}


.leadership-examples ul.references {
    color: grey;
}