<section>
    <h1>Rule #1</h1>
    <!--<h2>{{ 'Meaning' | translate }}</h2>
    <meaning-to-you [companySymbol]='companySymbol'></meaning-to-you>-->
    <h2>{{ 'Moat' | translate }}</h2>
    <!--<five-moats [companySymbol]='companySymbol'></five-moats>-->
    <big-five-numbers [companySymbol]='companySymbol'></big-five-numbers>
    <!--<h2>{{ 'Management' | translate }}</h2>
    <level-five-leaders [companySymbol]='companySymbol'></level-five-leaders>
    <h2>{{ 'Margin' | translate }}</h2>
    <three-tools [companySymbol]='companySymbol'></three-tools>-->
</section>