<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ '_app.Dashboard' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="signIn()">
                <!--<ion-icon name="contact"></ion-icon>-->
                {{ 'Sign In' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <user-portfolio></user-portfolio>
    <user-watchlist></user-watchlist>
</ion-content>