// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-ios ion-title {
    padding: 0 10px 1px;
}

ion-title {
  .title {
    font-size: 1.1em;
  }
}

$red-background: #fff6f6;
$red-light: #ffa99c;
$red-dark: #74000e;

$blue-background: #f6f6ff;
$blue-light: #53e1ff;
$blue-dark: #0034a7;

.light {
  h1, h2, h3, h4, h5, h6,
  .toolbar-title {
    color: $blue-dark;
  }
  .toolbar-background {
    background-color: $blue-light;
  }
  ion-content {
    background-color: $blue-background;
  }
  ion-list {
    .item {
      background-color: darken($blue-background, 1.5%);
    }
  }
}

.dark {
  h1, h2, h3, h4, h5, h6,
  .toolbar-title {
    color: $red-dark;
  }
  .toolbar-background {
    background-color: $red-light;
  }
  ion-content {
    background-color: $red-background;
  }
  ion-list {
    .item {
      background-color: darken($red-background, 1.5%);
    }
  }
}