<ul>
    <li>Meaning</li>
    <li>Moat</li>
    <li>Management</li>
    <li>Margin of Safety</li>
</ul>
<ol>
    <li>Does the business have Meaning to you? <small>you'd be willing to make this business the solo financial support of you family for the next 100 years?</small></li>
    <li>Does the business have a wide Moat? <small>be able to defend itself against attacks by competitors</small></li>
    <li>Does the business have great Management? <small>people running the business are doing so as if it were their family's only means of support for the next 100 years. ...and not going to rip you off for their short-term benefit</small></li>
    <li>Does the business have a big Margin of Safety? <small>know the value of the business and can get it on sale</small></li>
</ol>