<h2>Three Tools</h2>
<h4>Recommendation: <span style="color:green;">buy</span> <svg style="fill:green;" width="18" height="18" viewBox="0 0 18 18"><path fill-opacity=".3" d="M1 16h15V1z"/><path d="M1 16h7V9z"/></svg></h4>
<section>
    <h5 style="color:green;">EMA - <span class="recommendation">buy</span> <small class="date">(3 days ago)</small></h5>
    <ema-chart [title]='TODO' [data]='emaData'></ema-chart>
    <h5 style="color:red;">MACD - <span class="recommendation">sell</span> <small class="date">(1 days ago)</small></h5>
    <macd-chart [title]='TODO' [data]='macdData'></macd-chart>
    <h5  style="color:red;">Stochastic Oscillator - <span class="recommendation">sell</span> <small class="date">(10 days ago)</small></h5>
    <stochastic-chart [title]='TODO' [data]='stochasticData'></stochastic-chart>
</section>