<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'Companies' | translate }}</ion-title>
        <ion-buttons end>
            <button (click)="signIn()">
                <!--<ion-icon name="contact"></ion-icon>-->
                {{ 'Sign In' | translate }}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getCompanies($event)" placeholder="{{ 'Search' | translate }}"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let company of companies" (click)="itemTapped($event, company)">
            <ion-thumbnail item-left>
                <img src="{{company.logo}}">
            </ion-thumbnail>
            <h3>
                {{company.symbol}}
                <!--<ion-badge style="float:right;">75%</ion-badge>-->
                <ion-icon *ngIf="company.isWonderful" style="float:right; color:green;" name="thumbs-up"></ion-icon>
                <ion-icon *ngIf="!company.isWonderful" style="float:right; color:red;" name="thumbs-down"></ion-icon>
            </h3>
            <h2>{{company.name}}</h2>
            <p>{{company.industry}}</p>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <button fab fab-bottom fab-right fab-fixed (click)="create()">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-footer>