<div itemscope itemtype="http://schema.org/Book">
    <h1 itemprop="name">Rule #1: The Simple Strategy for Successful Investing in Only 15 Minutes a Week</h1>
    <figure itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img src="assets/rule-one/phil-town.png" width="349" height="338" alt="Phil Town" itemprop="image" />
        <figcaption itemprop="name">Phil Town</figcaption>
    </figure>
</div>
<ul class="table-of-content">
    <li><a href="#introduction">Make Money No Matter What</a></li>
    <li><a href="#chapter-1">The Myths of Investing</a></li>
    <li><a href="#chapter-2">Rule #1 and the Four Ms</a></li>
    <li><a href="#chapter-3">Buy a Business, Not a Stock</a></li>
    <li><a href="#chapter-4">Identify a Moat</a></li>
    <li><a href="#chapter-5">The Big Five Numbers</a></li>
    <li><a href="#chapter-6">Calculate the Big Five</a></li>
    <li><a href="#chapter-7">Bet on the Jockey</a></li>
    <li><a href="#chapter-8">Demand a Margin of Safety</a></li>
    <li><a href="#chapter-9">Calculate the Sticker Price</a></li>
    <li><a href="#chapter-10">Know the Right Time to Sell</a></li>
    <li><a href="#chapter-11">Grab the Stick</a></li>
    <li><a href="#chapter-12">The Tree Tools</a></li>
    <li><a href="#chapter-13">Take Baby Steps</a></li>
    <li><a href="#chapter-14">Eliminate the Barriers</a></li>
    <li><a href="#chapter-15">Prepare for Your First RUle #1 Purchase</a></li>
    <li><a href="#q-and-a">Q&A</a></li>
</ul>
<article id="introduction">
    <h1>Make Money No Matter What</h1>
    <blockquote>
        <p>...15 percent or more in the stock market, with almost no risk.</p>
    </blockquote>
    <blockquote>
        <p>striving for a 15-percent return by guessing what to invest in ("speculating" in investor-speak) is a guaranteed
            way to lose money.</p>
    </blockquote>
    <blockquote>
        <p>According to Buffett, "There are only two rules of investing: Rule #1: Don't lose money ... and Rule #2: Don't forget
            Rule #1.</p>
    </blockquote>
    <blockquote>
        <p>You possess an enormous number of built-in advantages - from what you know and what information you can access, to
            how fast you can move in and out of the market. The totality of these advantages makes it possible to outperform
            the so-called experts.</p>
    </blockquote>
    <blockquote>
        <p>"Information is the currencty of the Internet."</p>
    </blockquote>
</article>
<article id="chapter-1">
    <h1>The Myths of Investing</h1>
    <blockquote>
        <p>...almost everyone is convinced that a higer rate of return necessarily means a lot more risk. And they're more afraid
            of losing money in an attempt to get a higer return than of their inability to retire comfortably.</p>
    </blockquote>
    <blockquote>
        <p>...almost no fund managers have done what they're paid by you to do - beat the market.</p>
    </blockquote>
    <blockquote>
        <p>
            Myth 1. You Have to Be an Expert to Manage Money.<br> Myth 2. You Can't Beat the Market.<br> Myth 3. The Best
            Way to Minimize Risk Is to Fiversify and Hold for the Long Term).<br>
        </p>
    </blockquote>
    <blockquote>
        <p>...find a wonderful company at an attractive price...You focus on a few businesses that you understand. You buy when
            the big guys...</p>
    </blockquote>
    <blockquote>
        <p>...fund managers are the market; when they move billions of dollars into a stock, the price of that stock goes up.
            When they take their money out, the price of that stock goes down.</p>
    </blockquote>
    <blockquote>
        <p>The fund managers control the price of almost all the stocks in the market, but they can't easily get out when they
            want to.</p>
    </blockquote>
    <blockquote>
        <p>A Rule #1 business buyers, we pick a few choice businesses in different sectors of the market.</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 investors know the value of a wonderful business and buy it when it's undervalued.</p>
    </blockquote>
    <blockquote>
        <p>Buy a dollar for 50 cents, and sell it later for a dollar. Repeat until very rich.</p>
    </blockquote>
    <blockquote>
        <p>We buy a wonderful business (actually a part of business via shares of stock) at an attractive price...</p>
    </blockquote>
    <blockquote>
        <p>power of compounding money at 15 percent a year or more depends on not losing it - ever.</p>
    </blockquote>
    <blockquote>
        <p>If the price of a stock drops 80 percent, it has to go up 400 percent to break even.</p>
    </blockquote>
</article>
<article id="chapter-2">
    <h1>Rule #1 and the Four Ms</h1>
    <blockquote>
        <p>A Rule #1 investor looks at stocks as businesses that have a determinable value, and then waits patiently for market
            fluctuations to bring her that business at a great price.</p>
    </blockquote>
    <blockquote>
        <p>Knowing you will make money comes from buying a wonderful business at an attractive price.</p>
    </blockquote>
    <blockquote>
        <p>wonderful implies that the business has Meaning to you - that you understand it enough to want to own the whole thing
            if you could, that you'd be proud to own it, and that the business reflects your values.</p>
    </blockquote>
    <blockquote>
        <p>wonderful means that the business meets certain criteria in terms of financial strength and predictability; in particular,
            it must have a so-called Moat, And, third, it must have good Management.</p>
    </blockquote>
    <blockquote>
        <p>By "attractive" I mean we can buy the business with a very big Margin of Safety (MOS). To me a nice MOS is buying
            a dollar of value for fifty cents. So, once I know what a business is worth, I want to buy it for half that price.</p>
    </blockquote>
    <blockquote>
        <p>If it's predictable, we can determine a value. If it's not a predictable business, it's impossible to know what it's
            worth.
        </p>
    </blockquote>
    <blockquote>
        <ol>
            <li>Find a wonderful business.</li>
            <li>Know what it's worth as a business.</li>
            <li>Buy it at 50 percent off.</li>
            <li>Repeat until very rich.</li>
        </ol>
    </blockquote>
    <blockquote>
        <p>The price of a thing is not always equal to its value.</p>
    </blockquote>
    <blockquote>
        <p>Buying stocks as businesses is just like that, except there is no sticker price on the window. We have to figure
            out what the sticker price is, and then pay less.</p>
    </blockquote>
    <blockquote>
        <p>In essence, Rule #1 is just about being a good shopper.</p>
    </blockquote>
    <blockquote>
        <p>All it takes is learning how to determine the values of wonderul companies and waiting for the market to sell you
            those companies at discounted prices.</p>
    </blockquote>
    <blockquote>
        <p>The Sticker Price of a business is determined by the kind of surplus cash it can produce for its owners in the future.</p>
    </blockquote>
    <blockquote>
        <p>"the Four Ms": Meaning, Moat, Management, and Margin of Safety.</p>
    </blockquote>
    <blockquote>
        <ol>
            <li>Does the business have Meaning to you? <small>you'd be willing to make this business the solo financial support of you family for the next 100 years?</small></li>
            <li>Does the business have a wide Moat? <small>be able to defend itself against attacks by competitors</small></li>
            <li>Does the business have great Management? <small>people running the business are doing so as if it were their family's only means of support for the next 100 years. ...and not going to rip you off for their short-term benefit</small></li>
            <li>Does the business have a big Margin of Safety? <small>know the value of the business and can get it on sale</small></li>
        </ol>
        <p>

            If you can answer a big unconditional YES to all four of these questions, you'll know if this business is one you want to
            buy.
        </p>
    </blockquote>
    <blockquote>
        <p>sell it later without losing money</p>
    </blockquote>
    <blockquote>
        <p>There are opportunities to buy wonderful companies at attractive prices - they really do exist - if you're willing
            to do your homework and say good-bye to mutual funds.</p>
    </blockquote>
</article>
<article id="chapter-3">
    <h1>Buy a Business, Not a Stock</h1>
    <blockquote>
        <p>The First M question - Does the business have Meaning to you? - implies two other questions: (1) Do you want to own
            the whole business? and (2) Do you understand it well enough to own all of it?</p>
    </blockquote>
    <blockquote>
        <p>If we buy business as a business and not as a stock speculation, then it becomes personal. I want it to be personal.
            I want to be proud of what I own.</p>
    </blockquote>
    <blockquote>
        <p>select the five or ten companies you like the best. THink of investing your money like planting seeds in the ground.</p>
    </blockquote>
    <blockquote>
        <p>The 10-10 Rule: I won't own this business for ten minutes unless I'm willing to own it for ten years.</p>
    </blockquote>
    <blockquote>
        <p>we might buy the business today and sell it in a month and then buy it back three months later and then sell it again
            a few weeks after that. The fact that we buy it as if we're going to keep it for ten years does not preclude
            us from buying and selling this business over and over.</p>
    </blockquote>
    <blockquote>
        <p>How crazy would that be? If his one business is too risky, why would diversifying into five more businesses make
            the first one less risky?</p>
    </blockquote>
    <blockquote>
        <p>We have the luxury of waiting patiently until we can find wonderful companies at attractive prices...</p>
    </blockquote>
    <blockquote>
        <p>So what kinds of businesses should you own? The ones you understand. Those businesses tend to be about who you are.</p>
    </blockquote>
    <blockquote>
        <p>Meaning, in the Rule #1 sense, is just about inderstanding what a company does and how it does it - enought to be
            happy to put your name on the business and expect to keep it there for the next hundred yeards or so.</p>
    </blockquote>
    <blockquote>
        <p>Draw three circles that intersect in the middle. Label the first circle "Passion". Label the second circle "Talent",
            and label the third circle "Money".</p>
    </blockquote>
    <blockquote>
        <p>As yourself these three questions:</p>
        <ul>
            <li>What do you love to do, professionally and as recreation?</li>
            <li>What things are you really good at?</li>
            <li>What do you do to make money or what do you spend money on?</li>
        </ul>
        <p>Your answers - especially the ones that recur with respect to all three questions - will help you begin to pick your
            own wonderful companies.</p>
    </blockquote>
    <blockquote>
        <p>Go online to Yahoo! and click on "Finance", then "Industries", and then "Industry Index". As you'll see, just about
            every business in the world falls into one of these 12 categories or "sectors".</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 investors don't do anyting they aren't certain about. No gray areas. It's either clear and cetain they understand
            the business, or it isn't.</p>
    </blockquote>
    <blockquote>
        <p>(1) businesses that lack the history to make a prediction of the future possible are inherently risky; and (2) don't
            touch businesses you don't understand.</p>
    </blockquote>
    <blockquote>
        <p>Once you actually have a list of wonderful companies that appear to meet all the Rule #1 criteria, the full extend
            of which you'' learn step-by-step in this book, that list will become your Watch List.</p>
    </blockquote>

</article>
<article id="chapter-4">
    <h1>Identify a Moat</h1>
    <blockquote>
        <p>Finding a business with a wide Moat is key to finding a sucessful business to own, because a business with a wide
            Moat is much more predictable for the next 20 years than a business </p>
    </blockquote>
    <blockquote>
        <p>durable competitive advantage that protects it from attack, like a moat protects a castle</p>
    </blockquote>
    <blockquote>
        <p>If an indeustry looks as if it might be very easey to get into, there probably isn't a Moat. On the other hand, if
            it looks as though i might be really hard to get into and be successful, you'll probably find some wide-Moat
            businesses.
        </p>
    </blockquote>
    <blockquote>
        <p>Commodity businesses don't have Moats. If you own a commodity business, you have exactly zero protectionfrom commpetitors.</p>
    </blockquote>
    <blockquote>
        <p>What that wide Moat means to a business owner is that the business is very hard to compete against.</p>
    </blockquote>
    <blockquote>
        <p>You can't compete with Coke by lowering your price, and that's also a sign of a wide Moat.</p>
    </blockquote>
    <blockquote>
        <p>What's even more spectacular about businesses with wide Moats is they can keep u with inflation. In other words,
            they can raise prices as their costs go up.</p>
    </blockquote>
    <blockquote>
        <p>Wal-Mart ha a Moat based on price. Pfizer gets its Moat from patents on drugs. Intel gets its Moat from its long
            experience in building chips. PG&E protects itself by government law.</p>
    </blockquote>
    <blockquote>
        <p>That's the purpose of the Moat around the castle: protection from inflation and competition.</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 companies - can do that because they have some kind of monopolistic position in the market.</p>
    </blockquote>
    <blockquote>
        <p>Moats can be created by trade secrets that keep other businesses from copying them.</p>
    </blockquote>
    <blockquote>
        <p>It doesn't have to be a "monopoly" in a classic sense (meaning it has exclusive control over a particular area of
            the market), but is should be a company that is well known for being number one or number two in its industry.</p>
    </blockquote>
    <blockquote>
        <p>The five moats</p>
        <dl>
            <dt>Brand</dt>
            <dd>a product you're willing to pay more for because you trust it e.g. Coke, Gillette, Disney, McDonald's, Pepsi,
                Nike, Budweiser, Harley-Davidson</dd>
            <dt>Secret</dt>
            <dt>a business that has a patent or trade secret that makes direct competition illegal or very difficult e.g. Pfizer,
                3M, Intel</dt>
            <dt>Toll</dt>
            <dt>a business with exclusive control of a market - giving it the ability to collect a "toll" form anyone needing
                that service or product e.g. media companies, utilites , ad agencies</dt>
            <dt>Switching</dt>
            <dd>a business that's so much a part of your life that switching isn't worth the trouble e.g. ADR Paychex, H&R Block,
                Microsoft
            </dd>
            <dt>Price</dt>
            <dd>a business that can price products so low no one can compete e.g. Wall-Mart, Costco, Bed Bath & Beyond, Home
                Depot, Target</dd>
        </dl>
    </blockquote>
    <blockquote>
        <p>AS business buyers, we must understand that there are many forces affecting stock prices - forces that often have
            nothing to do with the quality of the company or the width of its Moat.</p>
    </blockquote>
    <blockquote>
        <p>Understand tha tmOat tells us whether a company is likely to be around in 20 years, not what price we should be paying
            for it right now. Wide-Moat businesses are often massively overpriced and, as a result can drop in price like
            there is no tomorrow.</p>
    </blockquote>
    <blockquote>
        <p>Our job is to find businesses with obviously wide Moats, buy them when the market has mispriced them too low, then
            sell them when the market has mispriced them too high.</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 investors, however, take the guesswork out of identifying a Moat by looking at five numbers in particular.</p>
    </blockquote>
    <blockquote>
        <p>If business has at least one of the Five Moats, it'll show up in the Big Five numbers. These numbers are proof of
            the existence of a Moat.</p>
    </blockquote>
    <blockquote>
        <p>Here are the Big Five:</p>
        <ol>
            <li>Return on Investment Capital (ROIC)</li>
            <li>Sales growth rate</li>
            <li>Earning per Share (EPS) growth rate</li>
            <li>Equity, or Book Value per Share (BVPS), growth rate</li>
            <li>Free Cash Flow (FCF or Cash) growth rate</li>
        </ol>
        <p>All of the big Five should be equal to or greater than 10 percent per year of the last 10 years.</p>
    </blockquote>
    <blockquote>
        <p>TODO</p>
    </blockquote>
</article>
<article id="chapter-5">
    <h1>The Big Five Numbers</h1>
    <blockquote>
        <p>we must <i>confirm</i> the strength of this business by looking at the Big Five numbers.</p>
    </blockquote>
    <blockquote>
        <p>We'll also, as an afterthought, glance at debt. I don't consider a company's debt on of the Big Five, but it's a
            number we're going to have to look at once we've checked off the health of the Big Five.</p>
    </blockquote>
    <blockquote>
        <p>All of these Big Five numbers should be equal to or greater than 10 percent per year for the last 10 years. We must
            also look at the five-year and one-year numbers, and compare those to the 10-year numbers to make sure business
            isn't slowing down.</p>
    </blockquote>
    <blockquote>
        <p>Return on investment capital (ROIC) is the rate of return a business make on the cash it invests in itself every
            year.
        </p>
    </blockquote>
    <blockquote>
        <p>ROIC is their profit divided by their invested capital.</p>
    </blockquote>
    <blockquote>
        <p>ROIC is the percentage return you get back from the cash you've plowed into your business. It's a measure of how
            effectively a company uses the money (borrowed or owned) invested in its operations.</p>
    </blockquote>
    <blockquote>
        <p>If a business doesn't have a healthy ROIC - above 10 percent per year on average for the last ten years - move on
            to another business.</p>
    </blockquote>
    <blockquote>
        <p>...we don't want to see ROIC going down; we want to see it going up or at least staying the same.</p>
    </blockquote>
    <blockquote>
        <p>best to look at three numbers for ROIC: (1) the ten-year average, (2) the past five years' average, and (3) last
            year's average.</p>
    </blockquote>
    <blockquote>
        <p>It doesn't meet the Moat requirement, which means it doesn't meet the predictability requirement, and therefore we
            can't make a decision about this business's future. If we can't make that decision, we can't give it a value.
            No value, no way to know what it's worth today.</p>
    </blockquote>
    <blockquote>
        <p>Sales are the total dollars the business took in form selling whatever widgets and digits it sells.</p>
    </blockquote>
    <blockquote>
        <p>Sometimes sales is referred to as the "top line" (number) because it's located on the top line in financial reports
            about the business (specifically, on the income statement).</p>
    </blockquote>
    <blockquote>
        <p>...but the really important number is what the rate of growth is.</p>
    </blockquote>
    <blockquote>
        <p>The next number is EPS (earnings per share), which tells us how much the business is profiting per share of ownership.</p>
    </blockquote>
    <blockquote>
        <p>Fist they make their business into a corporation so they can create lots of little pices of ownership in the business.
            Those pieces are called shares of stock.</p>
    </blockquote>
    <blockquote>
        <p>fund managers would be happy to pay about two times the frowth rate, or about 50 times last year's earnings, to own
            a piece of the business.</p>
    </blockquote>
    <blockquote>
        <p>...it's common that founders get their stock for free for doing all the work to make it successful.</p>
    </blockquote>
    <blockquote>
        <p>EPS is often called "the bottom line" (number) because it's usually the last line on the financial statemnt (specifically,
            on the income statement).</p>
    </blockquote>
    <blockquote>
        <p>EPS growth rate is the amount of growth from one year to another expressed in a percentage.</p>
    </blockquote>
    <blockquote>
        <p>Now we want to know if the owners get to keep that money or whether it's getting spent on a bunch of equipment to
            create next year's spectacular growth. To find that out, we look at the qquity growth rate.</p>
    </blockquote>
    <blockquote>
        <p>Equity is what you and the kids would have left over if the kids sold off everything, paid off any debt, and took
            the money that was left.</p>
    </blockquote>
    <blockquote>
        <p>Since there are 2 000 shares and $28 000 to split up, each share would get $14. That $14 is called book value per
            share (BVPS) and the $28 000 is called equity or book value. (Some people call it the liquidation value - what
            the business is worth if it's no longer business).</p>
    </blockquote>
    <blockquote>
        <p>rate of equity growth could be identical and is very very important. It tells us the business can accumulate surplus,
            and that in itself makes it exceptional.</p>
    </blockquote>
    <blockquote>
        <p>Equity, or book value per share, is also an excellent indicator of the long-term growth of what Mr. Buffett calls
            intrinsic value and what I call the "Sticker Price" - the rational value of a business.</p>
    </blockquote>
    <blockquote>
        <p>Finally, cash tells us if the company's cash is aligned with its profits. Cash growth, in particular, tells us whether
            its cash is growing with its profits or if the profits are only on paper. We like real cash growth.</p>
    </blockquote>
    <blockquote>
        <p>A dividend is just a pay-out of extra cash the business can't use effectively to grow. I relly like business that
            can invest the cash for me instead of giving it to me and making me reinvest it myself.</p>
    </blockquote>
    <blockquote>
        <p>Consistent numbers are what we are looking for.</p>
    </blockquote>
    <blockquote>
        <p>What we pay for today is an expected rate of growth. The higher rate is eveidence of a Moat, and the Moat makes the
            expectation more certain.</p>
    </blockquote>
    <blockquote>
        <p>Buffett loves companies that buy their stock back when it's cheap. However, if they buy it back when it's expensive,
            the maneuver works against the shareholders.</p>
    </blockquote>
    <blockquote>
        <p>The truth is, most professional investors overanalyze. For us, the business will either leap out as a really good
            deal, or it won't. If it doesn't, we pass. If it does, we go on to the next step.</p>
    </blockquote>
    <blockquote>
        <p>A business (or a family) that's caryying a lot of debt relative to its income has an unpredictable financial future.</p>
    </blockquote>
    <blockquote>
        <p>The right amount of debt is zero. But as I've said, lots of companies borrow for lots of good reasons, so let's just
            say that as long as a company can pay off its debt quickly, it's okay.</p>
    </blockquote>
    <blockquote>
        <p>If they can pay off their debt in one year of free cash flow, then the debt lo9ad is good. We'll set the maximumm
            payoff time at three years. After that, we're not interested.</p>
    </blockquote>
    <blockquote>
        <p>The Rule on Debt: To determine whether a business's debt is reasonable, find out if it can pay off its debt within
            three years by dividing total long-term debt by current free cash flow.</p>
    </blockquote>
    <blockquote>
        <p>Don't worry so much about short-term debg;</p>
    </blockquote>
    <blockquote>
        <p>Paying dividends is not an indication of slow growth or fast frowth. It's just a choice being made by Management
            about how best to manage the owner's cash.</p>
    </blockquote>
</article>
<article id="chapter-6">
    <h1>Calculate the Big Five</h1>
    <!--http://www.ruleoneinvesting.com/investment-calculators/-->
    <!--http://pages.uoregon.edu/rgp/PPPM613/class8a.htm-->
    <blockquote>
        <p>PRIORITY OF GROWTH RATES</p>
        <p>Not all four growth rate vear the same weight, or share the same level of importance. Alghough they all should be
            above our 10-percent minimum, here's their order of importance, starting with the most important:</p>
        <ol>
            <li>Equity growth</li>
            <li>EPS growth</li>
            <li>Sales (or gross profit) growth</li>
            <li>Cash flow growth</li>
        </ol>
        <p>This means that when you have to refer to growth rates or derive other estimations form them, which w'll be doing
            shortly, you should focus on equity and EPS growth first, and then sales and cash flow. Equity and EPS growth
            say a lot about the future of a company, and how certain we can be in predicting that future, which is a cornerstone
            to Rule #1.</p>
    </blockquote>
    <blockquote>
        <p>Net operating profit after tax is often shortened to NOPAT. To get NOPAT, start with net income from operations,
            but add back in any interest and depreciation expenses.</p>
    </blockquote>
    <blockquote>
        <p>One mediocre year is not enough to bruise the entire strength of the other Big Five numbers - especially the average
            numbers over the long term. Cash is also the least important number of all).</p>
    </blockquote>
</article>
<article id="chapter-7">
    <h1>Bet on the Jockey</h1>
    <blockquote>
        <p>What we're looking for is a leader. Someone who is going to take our company to the moon. Someone who lives and breathers
            this company. Someone who has a Big Audacious Goal that he wants to drive the business to achieve.</p>
    </blockquote>
    <blockquote>
        <p>The good news is the clues are easy to spot - and if we're not sure, we don't invest. Same as always.</p>
    </blockquote>
    <blockquote>
        <p>...single most critical aspect of venture capital-type investing: betting on the jockey.</p>
    </blockquote>
    <blockquote>
        <p>There's nothing better for sleeping well at night than knowing that some honest, owner-oriented, and driven person
            i out there thinking about how to make me money.</p>
    </blockquote>
    <blockquote>
        <p>...most important qualities of a Level Five leader. It comes down to two:</p>
        <ul>
            <li>Owner-oriented</li>
            <li>Driven</li>
        </ul>
    </blockquote>
    <blockquote>
        <p>My message to [the CEOs] is simple: Run your business as if it were the only asset your family will own over the
            next 100 years.</p>
    </blockquote>
    <blockquote>
        <p>Can you really ever know if the people running the company are honest and telling you everything you need to know?</p>
    </blockquote>
    <blockquote>
        <p>The second quality of a great CEO is that he or she is driven to change the world in some small and cool way, although
            a big and cool way is okay, too. I call the thing a CEO wants to make happen his BAG - Big Audacious Goal...</p>
    </blockquote>
    <blockquote>
        <p>Lots of companies have mission statements that sound as if they have a big goal. But a BAG isn't about a mission
            statement. It's what's driving the CEO.</p>
    </blockquote>
    <blockquote>
        <p>great CEOs usually negated their own contributions and gave praise and credit to others.</p>
    </blockquote>
    <blockquote>
        <p>Once you've read the articles, read his or her annual letters to shareholders on company websites.</p>
    </blockquote>
    <blockquote>
        <p>But I have two more little tricks that can help: (1) checking out insider trading activity and (2) considering the
            CEO's compensation.</p>
    </blockquote>
    <blockquote>
        <p>Insider trading is one of the great tip-offs that something good or bad is about to happen, the reason being that
            a CEO often knows months in advance what's going to happen.</p>
    </blockquote>
    <blockquote>
        <p>The sale of stock by company officials isn't always a red flag. For example, Bill Gates sells Microsoft stock to
            fund various charities and other investments.</p>
    </blockquote>
    <blockquote>
        <p>If most of a company's executives are unloading more than 30 percent of their stock all at once, that's probably
            not agood sign.</p>
    </blockquote>
    <blockquote>
        <p>But when insiders are mortgaging their children to buy stock at full retail, that's a serious clue that something
            good is about to happen.</p>
    </blockquote>
    <blockquote>
        <p>Mr. Buffett works for $100,000 a year. Beyond that honorarium, his compensation is exactly the same as that which
            is received by his shareholders...</p>
    </blockquote>
    <blockquote>
        <p>Unfortunately, there's another kind of CEO out there: one who wouldn't get up to go to work in the morning if he
            didn't have his outrageous perks and a cozy deal with the board of directors to get paid an enormous amount of
            money.
        </p>
    </blockquote>
    <blockquote>
        <p>boards of directors, who are paid, principally, to put the right guy in the top position and compensate him or her
            in a way that encourages the CEO to act in the best interests of the owners.</p>
    </blockquote>
    <blockquote>
        <p>We're not going to buy any business if we don't like the Management enough. And one of the main reasons to dislike
            Management is if they're getting overpaid. One key way Management gets overpaid, for example, is with stock options.</p>
    </blockquote>
    <blockquote>
        <p>Read the annual reports. Ask yourself: Is the Ceo being compensated as an owner or as a mercenary?</p>
    </blockquote>
    <blockquote>
        <p>Danger zone</p>
        <p>The red flags exist if you search for them. And it's not too difficult to distinguish between integrity and fluff.
            If you know that a company had a bad year, evidenced in its numbers and how much stakeholders lost, check out
            what the CEO had to say about it in his annual letter to shareholders. If he doesn't admit to mistakes and not
            only highlights the challenges ahead but explains what he intends to do about them, yo're staring at a quaestionable
            jockey who desn't know how to ride the horse. Don't get on that horse with him.</p>
    </blockquote>
    <blockquote>
        <p>...ideal CEO writes Buffett-style - taking blame for the failures of the business, and telling the owners what they
            need to know to evaluate his performance and the future of he business.</p>
    </blockquote>
    <blockquote>
        <p>"First be sure you're right and then go ahead."</p>
    </blockquote>
</article>
<article id="chapter-8">
    <h1>Demand a Margin of Safety</h1>
    <blockquote>
        <p>"In the short run the sotck market is voting machine but in the long run it's a weighing machine"</p>
    </blockquote>
    <blockquote>
        <p>"The basic ideas of investing are to look at stocks as businesses, use market fluctuations to your advantage and
            seek a Margin Of Sefety. That's what Gen Graham taught us. A hundred years from now they will still be the cornerstones
            of investing""'"</p>
    </blockquote>
    <blockquote>
        <p>Buy $1 of value for 50 cents. This is possible because sometimes the value of a business we want to buy is not equal
            to the price it's selling for. Price is what the market is getting for the business today. Value is what it's
            worth.
        </p>
    </blockquote>
    <blockquote>
        <p>I've got to take care of my money so my money will take care of me.</p>
    </blockquote>
    <blockquote>
        <p>We're going to buy businesses in a similar fashion. First we're going to find a few businesses we love and that meet
            our criteria thus far, then we're going to be very patient and wait until we get the chance to buy them below
            Sticker Price.</p>
    </blockquote>
    <blockquote>
        <p>The single most important determinant of the money we get in the future is the price we pay today. Is the price at
            the Sticker, above the Sticker, or belowe the Sticker? We can figure out what the Sticker Price is, but we can't
            control the price being charged for the business. That's up to our partner, Mr. Market.</p>
    </blockquote>
    <blockquote>
        <p>Mr. Market is an incredibly agreeable partner. At any time he's willing to make a deal happen. If we want to buy
            a business, he'll sell it to us. If we want to sell a business, hell buy it from us. Awesome! The catchL Mr.
            Market gets to name the price.</p>
    </blockquote>
    <blockquote>
        <p>Mr. Market is bipolar....most of the time the price of a business is pretty close to its value. But sometimes he
            can get so insanely optimistic that he prices everything insanely high. On other days Mr. Market can get so depressed...</p>
    </blockquote>
    <blockquote>
        <p>A big part of the secret of getting rich buying businesses is knowing what they're worth. And, equally important,
            what they're not worth. By knowing that (1) price is not value; and (2) Mr. Market is going to price stocks crazy
            from time to time, we know that if we can properly value every business we are interested in buying...</p>
    </blockquote>
    <blockquote>
        <p>Some investors think that great companies don't go on sale, and they're usually right. But usually right isn't the
            same as always right.</p>
    </blockquote>
    <blockquote>
        <p>First we determine the value - the Sticker Price. Then we determine the Margin-of-Safety price - the MOS, which is
            half of Sticker.</p>
    </blockquote>
</article>
<article id="chapter-9">
    <h1>Calculate the Sticker Price</h1>
    <blockquote>
        <p>The Sticker Price has a lot of other names in the financial community, including "intrinsic value", "fair value",
            and simply "retail price".</p>
    </blockquote>
    <blockquote>
        <p>The major part of a business's value is the money it's going to make in the future for its owners.</p>
    </blockquote>
    <blockquote>
        <p>To find the Sticker Price, we need four numbers handy:</p>
        <ol>
            <li>Current EPS</li>
            <li>Estimated (future) EPS growth rate</li>
            <li>Estimated future PE</li>
            <li>Minimum acceptable rate of return from this investment</li>
        </ol>
    </blockquote>
    <blockquote>
        <p>Mr. Market prices businesses by some multiple of their EPS. This multiple is called the PE (price/earnings) ratio,
            or just "PE".</p>
    </blockquote>
    <blockquote>
        <p>The Sticker Price of any business is based on its future EPS and future PE. In other words, if we can fugure out
            what a company's future EPS and PE numbers are going to be in, say , ten years, we can mulitply those two numbers
            together and deterine its future price in ten years and then, from that, work backwards to determine its Sticker
            Price today.</p>
    </blockquote>
    <blockquote>
        <p>"TTM EPS" short for the Trailing Twelve Months EPS</p>
    </blockquote>
    <blockquote>
        <p>the single most important number for choosing a business's estimated future EPS growth rate is its past equity growth
            rate - and not necessarily its past EPS growth rate.</p>
    </blockquote>
    <blockquote>
        <p>The Sticker Price process in anutshell:</p>
        <ol>
            <li>Grow the current EPS at the estimated EPS growth rate for ten years to obtain the future EPS.</li>
            <li>Multiply the future EPS by the future PE</li>
            <li>Shrink the future market price by the minimum acceptable rate of return per year to obtain the Sticker Price</li>
        </ol>
        <p>Rule #1 uses ten years for the future for two simple reasons:</p>
        <ol>
            <li>The 10-10 Rule: We never buy a business for ten minures if we aren't willin to hold it for ten years.</li>
            <li>Practicality: Twenty years is too far into the future to do any sort of reasonable predictions, and five years
                is too short for a long-term hold.</li>
        </ol>
        <p>So ten works best.</p>
    </blockquote>
    <blockquote>
        <p>"Risky Biz" portfolio - where you accept more risk because you think these businesses will perform a lot differently
            than they have in the past. You shouldn't ever allocate more than 10 percent of your portfolio to Risky Biz holdings.</p>
    </blockquote>
    <blockquote>
        <p>We need to provide a multiple (called the "PE" or "PE ratio") to change the earnings-per-share number into a price-per-share
            number.</p>
    </blockquote>
    <blockquote>
        <p>A quick rule of thumb for figuring the PE is to double the Rule #1 growth rate. Thus, if we think a company is going
            to grow its earnings at 8 percent for the next ten years, then we can expect to see a PE of around 16 about ten
            years from now...We'll call this the default PE. If we don't have anything else to go on, we'll use the default
            PE. But, of course, we do have something else to go on - we have the historical PE.</p>
    </blockquote>
    <blockquote>
        <p>Remember: We're figuring out the price of a given stock ten years from now, so we can work backwards from that number
            to get our Sticker Price today.</p>
    </blockquote>
    <blockquote>
        <p>PE ratio is just the price divided by the earnings</p>
        <p>PX x EPS = Price</p>
        <p>PE = Price / EPS</p>
        <p>The PE ratio indicates how much we're willing to pay for a dollar's worth of a company's earnings.</p>
    </blockquote>
    <blockquote>
        <p>If the historical and default PEs are not the same, we'll use the lower of the two when making calculations.</p>
    </blockquote>
    <blockquote>
        <p>The Rule #1 minimum rate of return is 15 percent per year. The Sticker Price is the maximum amount we can pay and
            still get that 15 percent return on our money over the next ten years.</p>
    </blockquote>
    <blockquote>
        <p>Assuming 15-percent returns, the Sticker Price today is always going to be about a quarter of the Market Price ten
            years from now.</p>
    </blockquote>
    <blockquote>
        <p>Don't forget: We never pay the Sticker Price. We always want to buy a dollar of value for fifty cents. To get a big
            MOS, we want to buy this business for 50 percent off the Sticker.</p>
    </blockquote>
</article>
<article id="chapter-10">
    <h1>Know the Right Time to Sell</h1>
    <blockquote>
        <p></p>
    </blockquote>
    <blockquote>
        <p></p>
    </blockquote>
    <blockquote>
        <p></p>
    </blockquote>
    <blockquote>
        <p></p>
    </blockquote>
</article>
<!--wonderfull, predictible, sticker price, discounted prices-->

<!--<md-icon svgSrc="/assets/icons/search-icon.svg"></md-icon>
<md-icon>home</md-icon>
<md-icon svgIcon="core:alarm"></md-icon>
<md-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></md-icon>-->