<div itemscope itemtype="http://schema.org/Book">
    <h1 itemprop="name">Rule #1: The Simple Strategy for Successful Investing in Only 15 Minutes a Week</h1>
    <figure itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img src="assets/rule-one/phil-town.png" width="349" height="338" alt="Phil Town" itemprop="image" />
        <figcaption itemprop="name">Phil Town</figcaption>
    </figure>
</div>
<ul class="table-of-content">
    <li><a href="#introduction">Make Money No Matter What</a></li>
    <li><a href="#chapter-1">The Myths of Investing</a></li>
    <li><a href="#chapter-2">Rule #1 and the Four Ms</a></li>
    <li><a href="#chapter-3">Buy a Business, Not a Stock</a></li>
    <li><a href="#chapter-4">Identify a Moat</a></li>
    <li><a href="#chapter-5">The Big Five Numbers</a></li>
    <li><a href="#chapter-6">Calculate the Big Five</a></li>
    <li><a href="#chapter-7">Bet on the Jockey</a></li>
    <li><a href="#chapter-8">Demand a Margin of Safety</a></li>
    <li><a href="#chapter-9">Calculate the Sticker Price</a></li>
    <li><a href="#chapter-10">Know the Right Time to Sell</a></li>
    <li><a href="#chapter-11">Grab the Stick</a></li>
    <li><a href="#chapter-12">The Tree Tools</a></li>
    <li><a href="#chapter-13">Take Baby Steps</a></li>
    <li><a href="#chapter-14">Eliminate the Barriers</a></li>
    <li><a href="#chapter-15">Prepare for Your First RUle #1 Purchase</a></li>
    <li><a href="#q-and-a">Q&A</a></li>
</ul>
<article id="introduction">
    <h1>Make Money No Matter What</h1>
    <blockquote>
        <p>...15 percent or more in the stock market, with almost no risk.</p>
    </blockquote>
    <blockquote>
        <p>striving for a 15-percent return by guessing what to invest in ("speculating" in investor-speak) is a guaranteed
            way to lose money.</p>
    </blockquote>
    <blockquote>
        <p>According to Buffett, "There are only two rules of investing: Rule #1: Don't lose money ... and Rule #2: Don't forget
            Rule #1.</p>
    </blockquote>
    <blockquote>
        <p>You possess an enormous number of built-in advantages - from what you know and what information you can access, to
            how fast you can move in and out of the market. The totality of these advantages makes it possible to outperform
            the so-called experts.</p>
    </blockquote>
    <blockquote>
        <p>"Information is the currencty of the Internet."</p>
    </blockquote>
</article>
<article id="chapter-1">
    <h1>The Myths of Investing</h1>
    <blockquote>
        <p>...almost everyone is convinced that a higer rate of return necessarily means a lot more risk. And they're more afraid
            of losing money in an attempt to get a higer return than of their inability to retire comfortably.</p>
    </blockquote>
    <blockquote>
        <p>...almost no fund managers have done what they're paid by you to do - beat the market.</p>
    </blockquote>
    <blockquote>
        <p>
            Myth 1. You Have to Be an Expert to Manage Money.<br> Myth 2. You Can't Beat the Market.<br> Myth 3. The Best
            Way to Minimize Risk Is to Fiversify and Hold for the Long Term).<br>
        </p>
    </blockquote>
    <blockquote>
        <p>...find a wonderful company at an attractive price...You focus on a few businesses that you understand. You buy when
            the big guys...</p>
    </blockquote>
    <blockquote>
        <p>...fund managers are the market; when they move billions of dollars into a stock, the price of that stock goes up.
            When they take their money out, the price of that stock goes down.</p>
    </blockquote>
    <blockquote>
        <p>The fund managers control the price of almost all the stocks in the market, but they can't easily get out when they
            want to.</p>
    </blockquote>
    <blockquote>
        <p>A Rule #1 business buyers, we pick a few choice businesses in different sectors of the market.</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 investors know the value of a wonderful business and buy it when it's undervalued.</p>
    </blockquote>
    <blockquote>
        <p>Buy a dollar for 50 cents, and sell it later for a dollar. Repeat until very rich.</p>
    </blockquote>
    <blockquote>
        <p>We buy a wonderful business (actually a part of business via shares of stock) at an attractive price...</p>
    </blockquote>
    <blockquote>
        <p>power of compounding money at 15 percent a year or more depends on not losing it - ever.</p>
    </blockquote>
    <blockquote>
        <p>If the price of a stock drops 80 percent, it has to go up 400 percent to break even.</p>
    </blockquote>
</article>
<article id="chapter-2">
    <h1>Rule #1 and the Four Ms</h1>
    <blockquote>
        <p>A Rule #1 investor looks at stocks as businesses that have a determinable value, and then waits patiently for market
            fluctuations to bring her that business at a great price.</p>
    </blockquote>
    <blockquote>
        <p>Knowing you will make money comes from buying a wonderful business at an attractive price.</p>
    </blockquote>
    <blockquote>
        <p>wonderful implies that the business has Meaning to you - that you understand it enough to want to own the whole thing
            if you could, that you'd be proud to own it, and that the business reflects your values.</p>
    </blockquote>
    <blockquote>
        <p>wonderful means that the business meets certain criteria in terms of financial strength and predictability; in particular,
            it must have a so-called Moat, And, third, it must have good Management.</p>
    </blockquote>
    <blockquote>
        <p>By "attractive" I mean we can buy the business with a very big Margin of Safety (MOS). To me a nice MOS is buying
            a dollar of value for fifty cents. So, once I know what a business is worth, I want to buy it for half that price.</p>
    </blockquote>
    <blockquote>
        <p>If it's predictable, we can determine a value. If it's not a predictable business, it's impossible to know what it's
            worth.
        </p>
    </blockquote>
    <blockquote>
        <ol>
            <li>Find a wonderful business.</li>
            <li>Know what it's worth as a business.</li>
            <li>Buy it at 50 percent off.</li>
            <li>Repeat until very rich.</li>
        </ol>
    </blockquote>
    <blockquote>
        <p>The price of a thing is not always equal to its value.</p>
    </blockquote>
    <blockquote>
        <p>Buying stocks as businesses is just like that, except there is no sticker price on the window. We have to figure
            out what the sticker price is, and then pay less.</p>
    </blockquote>
    <blockquote>
        <p>In essence, Rule #1 is just about being a good shopper.</p>
    </blockquote>
    <blockquote>
        <p>All it takes is learning how to determine the values of wonderul companies and waiting for the market to sell you
            those companies at discounted prices.</p>
    </blockquote>
    <blockquote>
        <p>The Sticker Price of a business is determined by the kind of surplus cash it can produce for its owners in the future.</p>
    </blockquote>
    <blockquote>
        <p>"the Four Ms": Meaning, Moat, Management, and Margin of Safety.</p>
    </blockquote>
    <blockquote>
        <ol>
            <li>Does the business have Meaning to you? <small>you'd be willing to make this business the solo financial support of you family for the next 100 years?</small></li>
            <li>Does the business have a wide Moat? <small>be able to defend itself against attacks by competitors</small></li>
            <li>Does the business have great Management? <small>people running the business are doing so as if it were their family's only means of support for the next 100 years. ...and not going to rip you off for their short-term benefit</small></li>
            <li>Does the business have a big Margin of Safety? <small>know the value of the business and can get it on sale</small></li>
        </ol>
        <p>

            If you can answer a big unconditional YES to all four of these questions, you'll know if this business is one you want to
            buy.
        </p>
    </blockquote>
    <blockquote>
        <p>sell it later without losing money</p>
    </blockquote>
    <blockquote>
        <p>There are opportunities to buy wonderful companies at attractive prices - they really do exist - if you're willing
            to do your homework and say good-bye to mutual funds.</p>
    </blockquote>
</article>
<article id="chapter-3">
    <h1>Buy a Business, Not a Stock</h1>
    <blockquote>
        <p>The First M question - Does the business have Meaning to you? - implies two other questions: (1) Do you want to own
            the whole business? and (2) Do you understand it well enough to own all of it?</p>
    </blockquote>
    <blockquote>
        <p>If we buy business as a business and not as a stock speculation, then it becomes personal. I want it to be personal.
            I want to be proud of what I own.</p>
    </blockquote>
    <blockquote>
        <p>select the five or ten companies you like the best. THink of investing your money like planting seeds in the ground.</p>
    </blockquote>
    <blockquote>
        <p>The 10-10 Rule: I won't own this business for ten minutes unless I'm willing to own it for ten years.</p>
    </blockquote>
    <blockquote>
        <p>we might buy the business today and sell it in a month and then buy it back three months later and then sell it again
            a few weeks after that. The fact that we buy it as if we're going to keep it for ten years does not preclude
            us from buying and selling this business over and over.</p>
    </blockquote>
    <blockquote>
        <p>How crazy would that be? If his one business is too risky, why would diversifying into five more businesses make
            the first one less risky?</p>
    </blockquote>
    <blockquote>
        <p>We have the luxury of waiting patiently until we can find wonderful companies at attractive prices...</p>
    </blockquote>
    <blockquote>
        <p>So what kinds of businesses should you own? The ones you understand. Those businesses tend to be about who you are.</p>
    </blockquote>
    <blockquote>
        <p>Meaning, in the Rule #1 sense, is just about inderstanding what a company does and how it does it - enought to be
            happy to put your name on the business and expect to keep it there for the next hundred yeards or so.</p>
    </blockquote>
    <blockquote>
        <p>Draw three circles that intersect in the middle. Label the first circle "Passion". Label the second circle "Talent",
            and label the third circle "Money".</p>
    </blockquote>
    <blockquote>
        <p>As yourself these three questions:</p>
        <ul>
            <li>What do you love to do, professionally and as recreation?</li>
            <li>What things are you really good at?</li>
            <li>What do you do to make money or what do you spend money on?</li>
        </ul>
        <p>Your answers - especially the ones that recur with respect to all three questions - will help you begin to pick your
            own wonderful companies.</p>
    </blockquote>
    <blockquote>
        <p>Go online to Yahoo! and click on "Finance", then "Industries", and then "Industry Index". As you'll see, just about
            every business in the world falls into one of these 12 categories or "sectors".</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 investors don't do anyting they aren't certain about. No gray areas. It's either clear and cetain they understand
            the business, or it isn't.</p>
    </blockquote>
    <blockquote>
        <p>(1) businesses that lack the history to make a prediction of the future possible are inherently risky; and (2) don't
            touch businesses you don't understand.</p>
    </blockquote>
    <blockquote>
        <p>Once you actually have a list of wonderful companies that appear to meet all the Rule #1 criteria, the full extend
            of which you'' learn step-by-step in this book, that list will become your Watch List.</p>
    </blockquote>

</article>
<article id="chapter-4">
    <h1>Identify a Moat</h1>
    <blockquote>
        <p>Finding a business with a wide Moat is key to finding a sucessful business to own, because a business with a wide
            Moat is much more predictable for the next 20 years than a business </p>
    </blockquote>
    <blockquote>
        <p>durable competitive advantage that protects it from attack, like a moat protects a castle</p>
    </blockquote>
    <blockquote>
        <p>If an indeustry looks as if it might be very easey to get into, there probably isn't a Moat. On the other hand, if
            it looks as though i might be really hard to get into and be successful, you'll probably find some wide-Moat
            businesses.
        </p>
    </blockquote>
    <blockquote>
        <p>Commodity businesses don't have Moats. If you own a commodity business, you have exactly zero protectionfrom commpetitors.</p>
    </blockquote>
    <blockquote>
        <p>What that wide Moat means to a business owner is that the business is very hard to compete against.</p>
    </blockquote>
    <blockquote>
        <p>You can't compete with Coke by lowering your price, and that's also a sign of a wide Moat.</p>
    </blockquote>
    <blockquote>
        <p>What's even more spectacular about businesses with wide Moats is they can keep u with inflation. In other words,
            they can raise prices as their costs go up.</p>
    </blockquote>
    <blockquote>
        <p>Wal-Mart ha a Moat based on price. Pfizer gets its Moat from patents on drugs. Intel gets its Moat from its long
            experience in building chips. PG&E protects itself by government law.</p>
    </blockquote>
    <blockquote>
        <p>That's the purpose of the Moat around the castle: protection from inflation and competition.</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 companies - can do that because they have some kind of monopolistic position in the market.</p>
    </blockquote>
    <blockquote>
        <p>Moats can be created by trade secrets that keep other businesses from copying them.</p>
    </blockquote>
    <blockquote>
        <p>It doesn't have to be a "monopoly" in a classic sense (meaning it has exclusive control over a particular area of
            the market), but is should be a company that is well known for being number one or number two in its industry.</p>
    </blockquote>
    <blockquote>
        <p>The five moats</p>
        <dl>
            <dt>Brand</dt>
            <dd>a product you're willing to pay more for because you trust it e.g. Coke, Gillette, Disney, McDonald's, Pepsi,
                Nike, Budweiser, Harley-Davidson</dd>
            <dt>Secret</dt>
            <dt>a business that has a patent or trade secret that makes direct competition illegal or very difficult e.g. Pfizer,
                3M, Intel</dt>
            <dt>Toll</dt>
            <dt>a business with exclusive control of a market - giving it the ability to collect a "toll" form anyone needing
                that service or product e.g. media companies, utilites , ad agencies</dt>
            <dt>Switching</dt>
            <dd>a business that's so much a part of your life that switching isn't worth the trouble e.g. ADR Paychex, H&R Block,
                Microsoft
            </dd>
            <dt>Price</dt>
            <dd>a business that can price products so low no one can compete e.g. Wall-Mart, Costco, Bed Bath & Beyond, Home
                Depot, Target</dd>
        </dl>
    </blockquote>
    <blockquote>
        <p>AS business buyers, we must understand that there are many forces affecting stock prices - forces that often have
            nothing to do with the quality of the company or the width of its Moat.</p>
    </blockquote>
    <blockquote>
        <p>Understand tha tmOat tells us whether a company is likely to be around in 20 years, not what price we should be paying
            for it right now. Wide-Moat businesses are often massively overpriced and, as a result can drop in price like
            there is no tomorrow.</p>
    </blockquote>
    <blockquote>
        <p>Our job is to find businesses with obviously wide Moats, buy them when the market has mispriced them too low, then
            sell them when the market has mispriced them too high.</p>
    </blockquote>
    <blockquote>
        <p>Rule #1 investors, however, take the guesswork out of identifying a Moat by looking at five numbers in particular.</p>
    </blockquote>
    <blockquote>
        <p>If business has at least one of the Five Moats, it'll show up in the Big Five numbers. These numbers are proof of
            the existence of a Moat.</p>
    </blockquote>
    <blockquote>
        <p>Here are the Big Five:</p>
        <ol>
            <li>Return on Investment Capital (ROIC)</li>
            <li>Sales growth rate</li>
            <li>Earning per Share (EPS) growth rate</li>
            <li>Equity, or Book Value per Share (BVPS), growth rate</li>
            <li>Free Cash Flow (FCF or Cash) growth rate</li>
        </ol>
        <p>All of the big Five should be equal to or greater than 10 percent per year of the last 10 years.</p>
    </blockquote>
    <blockquote>
        <p>TODO</p>
    </blockquote>
</article>
<article id="chapter-5">
    <h1>The Big Five Numbers</h1>
    <blockquote>
        <p>we must <i>confirm</i> the strength of this business by looking at the Big Five numbers.</p>
    </blockquote>
    <blockquote>
        <p>We'll also, as an afterthought, glance at debt. I don't consider a company's debt on of the Big Five, but it's a
            number we're going to have to look at once we've checked off the health of the Big Five.</p>
    </blockquote>
    <blockquote>
        <p>All of these Big Five numbers should be equal to or greater than 10 percent per year for the last 10 years. We must
            also look at the five-year and one-year numbers, and compare those to the 10-year numbers to make sure business
            isn't slowing down.</p>
    </blockquote>
    <blockquote>
        <p>Return on investment capital (ROIC) is the rate of return a business make on the cash it invests in itself every
            year.</p>
    </blockquote>
    <blockquote>
        <p>ROIC is their profit divided by their invested capital.</p>
    </blockquote>
    <blockquote>
        <p>ROIC is the percentage return you get back from the cash you've plowed into your business. It's a measure of how
            effectively a company uses the money (borrowed or owned) invested in its operations.</p>
    </blockquote>
    <blockquote>
        <p>If a business doesn't have a healthy ROIC - above 10 percent per year on average for the last ten years - move on
            to another business.</p>
    </blockquote>
    <blockquote>
        <p>...we don't want to see ROIC going down; we want to see it going up or at least staying the same.</p>
    </blockquote>
    <blockquote>
        <p>best to look at three numbers for ROIC: (1) the ten-year average, (2) the past five years' average, and (3) last
            year's average.</p>
    </blockquote>
    <blockquote>
        <p>It doesn't meet the Moat requirement, which means it doesn't meet the predictability requirement, and therefore we
            can't make a decision about this business's future. If we can't make that decision, we can't give it a value.
            No value, no way to know what it's worth today.</p>
    </blockquote>
    <blockquote>
        <p>Sales are the total dollars the business took in form selling whatever widgets and digits it sells.</p>
    </blockquote>
    <blockquote>
        <p>Sometimes sales is referred to as the "top line" (number) because it's located on the top line in financial reports
            about the business (specifically, on the income statement).</p>
    </blockquote>
    <blockquote>
        <p>...but the really important number is what the rate of growth is.</p>
    </blockquote>
    <blockquote>
        <p>The next number is EPS (earnings per share), which tells us how much the business is profiting per share of ownership.</p>
    </blockquote>
    <blockquote>
        <p>Fist they make their business into a corporation so they can create lots of little pices of ownership in the business.
            Those pieces are called shares of stock.</p>
    </blockquote>
    <blockquote>
        <p>fund managers would be happy to pay about two times the frowth rate, or about 50 times last year's earnings, to own
            a piece of the business.</p>
    </blockquote>
    <blockquote>
        <p>...it's common that founders get their stock for free for doing all the work to make it successful.</p>
    </blockquote>
    <blockquote>
        <p>EPS is often called "the bottom line" (number) because it's usually the last line on the financial statemnt (specifically,
            on the income statement).</p>
    </blockquote>
    <blockquote>
        <p>EPS growth rate is the amount of growth from one year to another expressed in a percentage.</p>
    </blockquote>
    <blockquote>
        <p>Now we want to know if the owners get to keep that money or whether it's getting spent on a bunch of equipment to
            create next year's spectacular growth. To find that out, we look at the qquity growth rate.</p>
    </blockquote>
    <blockquote>
        <p>Equity is what you and the kids would have left over if the kids sold off everything, paid off any debt, and took
            the money that was left.</p>
    </blockquote>
    <blockquote>
        <p>Since there are 2 000 shares and $28 000 to split up, each share would get $14. That $14 is called book value per
            share (BVPS) and the $28 000 is called equity or book value. (Some people call it the liquidation value - what
            the business is worth if it's no longer business).</p>
    </blockquote>
    <blockquote>
        <p>rate of equity growth could be identical and is very very important. It tells us the business can accumulate surplus,
            and that in itself makes it exceptional.</p>
    </blockquote>
    <blockquote>
        <p>Equity, or book value per share, is also an excellent indicator of the long-term growth of what Mr. Buffett calls
            intrinsic value and what I call the "Sticker Price" - the rational value of a business.</p>
    </blockquote>
    <blockquote>
        <p>Finally, cash tells us if the company's cash is aligned with its profits. Cash growth, in particular, tells us whether
            its cash is growing with its profits or if the profits are only on paper. We like real cash growth.</p>
    </blockquote>
    <blockquote>
        <p>A dividend is just a pay-out of extra cash the business can't use effectively to grow. I relly like business that
            can invest the cash for me instead of giving it to me and making me reinvest it myself.</p>
    </blockquote>
    <blockquote>
        <p>Consistent numbers are what we are looking for.</p>
    </blockquote>
    <blockquote>
        <p>What we pay for today is an expected rate of growth. The higher rate is eveidence of a Moat, and the Moat makes the
            expectation more certain.</p>
    </blockquote>
    <blockquote>
        <p>Buffett loves companies that buy their stock back when it's cheap. However, if they buy it back when it's expensive,
            the maneuver works against the shareholders.</p>
    </blockquote>
    <blockquote>
        <p>The truth is, most professional investors overanalyze. For us, the business will either leap out as a really good
            deal, or it won't. If it doesn't, we pass. If it does, we go on to the next step.</p>
    </blockquote>
    <blockquote>
        <p>A business (or a family) that's caryying a lot of debt relative to its income has an unpredictable financial future.</p>
    </blockquote>
    <blockquote>
        <p>The right amount of debt is zero. But as I've said, lots of companies borrow for lots of good reasons, so let's just
            say that as long as a company can pay off its debt quickly, it's okay.</p>
    </blockquote>
    <blockquote>
        <p>If they can pay off their debt in one year of free cash flow, then the debt lo9ad is good. We'll set the maximumm
            payoff time at three years. After that, we're not interested.</p>
    </blockquote>
    <blockquote>
        <p>The Rule on Debt: To determine whether a business's debt is reasonable, find out if it can pay off its debt within
            three years by dividing total long-term debt by current free cash flow.</p>
    </blockquote>
    <blockquote>
        <p>Don't worry so much about short-term debg;</p>
    </blockquote>
    <blockquote>
        <p>Paying dividends is not an indication of slow growth or fast frowth. It's just a choice being made by Management
            about how best to manage the owner's cash.</p>
    </blockquote>
</article>
<article id="chapter-6">
    <h1>Calculate the Big Five</h1>
    <!--http://www.ruleoneinvesting.com/investment-calculators/-->
    <!--http://pages.uoregon.edu/rgp/PPPM613/class8a.htm-->
    <blockquote>
        <p>PRIORITY OF GROWTH RATES</p>
        <p>Not all four growth rate vear the same weight, or share the same level of importance. Alghough they all should be above our 10-percent minimum, here's their order of importance, starting with the most important:</p>
        <ol>
            <li>Equity growth</li>
            <li>EPS growth</li>
            <li>Sales (or gross profit) growth</li>
            <li>Cash flow growth</li>
        </ol>
        <p>This means that when you have to refer to growth rates or derive other estimations form them, which w'll be doing shortly, you should focus on equity and EPS growth first, and then sales and cash flow. Equity and EPS growth say a lot about the future of a company, and how certain we can be in predicting that future, which is a cornerstone to Rule #1.</p>
    </blockquote>
    <blockquote>
        <p>Net operating profit after tax is often shortened to NOPAT. To get NOPAT, start with net income from operations, but add back in any interest and depreciation expenses.</p>
    </blockquote>
    <blockquote>
        <p>One mediocre year is not enough to bruise the entire strength of the other Big Five numbers - especially the average numbers over the long term. Cash is also the least important number of all).</p>
    </blockquote>
</article>
<article id="chapter-7">
    <h1>Bet on the Jockey</h1>
    <blockquote>
        <p></p>
    </blockquote>
</article>
<!--wonderfull, predictible, sticker price, discounted prices-->

<!--<md-icon svgSrc="/assets/icons/search-icon.svg"></md-icon>
<md-icon>home</md-icon>
<md-icon svgIcon="core:alarm"></md-icon>
<md-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></md-icon>-->