<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!company">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{company.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="company" class="selection">
    <img src="{{company.logo}}"><br>
    <b>{{company.name}}</b><br>
    {{company.description}}<br>
    <rule-one [companySymbol]='company.symbol'></rule-one>
  </div>
</ion-content>
<ion-footer *ngIf="identityService.token">
  <button fab fab-bottom fab-right fab-fixed (click)="edit(company)">
        <ion-icon name="create"></ion-icon>
    </button>
</ion-footer>