<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!company">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{company.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="company">
    <ion-row>
      <h1>{{company.name}}</h1>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <img src="{{company.logo}}">
      </ion-col>
      <ion-col width-50>
        <strong>Symbol:</strong> {{company.symbol}}<br>
        <strong>Founded:</strong> 1975, USA<br>
        <strong>Industry:</strong> {{company.industry}}<br>
        <strong>CEO:</strong> Satya Nadella<br> 
        <strong>IPO:</strong> 1986, NASDAQ<br>
        <strong>Price:</strong> <span style="color:green;">$22</span><ion-icon style="color:red;" name="trending-down"></ion-icon><br>
        <strong>Rule #1:</strong> <ion-icon style="color:green;" name="thumbs-up"></ion-icon>
        <!--
        <strong>Website:</strong> <a href="http://www.xxiicentury.com/">http://www.xxiicentury.com/</a><br>
        <strong>Phone:</strong> {{company.phone}}<br>
        <strong>Email:</strong> {{company.email}}<br>        
        <strong>Headquarters:</strong> Redmond, Washington, United States<br>
        <strong>Founders:</strong> <br>
        <strong>Owners:</strong> <br>
        -->
      </ion-col>
    </ion-row>
    <ion-row class="social-icons">
      <a href="http://www.xxiicentury.com/"><ion-icon name="home"></ion-icon></a> 
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-googleplus"></ion-icon>
      <ion-icon name="logo-youtube"></ion-icon>
      <!--<ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-pinterest"></ion-icon>
      <ion-icon name="logo-reddit"></ion-icon>
      <ion-icon name="logo-vimeo"></ion-icon>-->
    </ion-row>
    <ion-row>
      {{company.description}}
    </ion-row>
    <ion-row>
      <rule-one [companySymbol]='company.symbol'></rule-one>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="identityService.token">
  <button fab fab-bottom fab-right fab-fixed (click)="edit(company)">
        <ion-icon name="create"></ion-icon>
    </button>
</ion-footer>