<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!company">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{company.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="company" class="selection">
    <img src="{{company.logo}}"><br>
    <b>{{company.name}}</b><br>
    {{company.description}}<br>
    <section>
      <h1>Rule #1</h1>
      <h2>{{ 'Meaning' | translate }}</h2>
      <h2>{{ 'Moat' | translate }}</h2>
      <h2>{{ 'Management' | translate }}</h2>
      <h2>{{ 'Margin' | translate }}</h2>
      <three-tools [companySymbol]='company.symbol'></three-tools>
    </section>
  </div>
</ion-content>
<ion-footer *ngIf="identityService.token">
  <button fab fab-bottom fab-right fab-fixed (click)="edit(company)">
        <ion-icon name="create"></ion-icon>
    </button>
</ion-footer>