/*#circle-wrapper{
	position:relative;
	top:0;
	left:0;	
}*/

.circle1, .circle2, .circle3 {
    /*position:absolute;*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    width: 500px;
    height: 500px;
    padding-bottom: 32%;

}

.wrapper{
  /*margin-top:40%;*/
  /*margin-left:32%;*/
  /*height:100%;
  width:100%;*/
  /*display: table;*/
}

/*h1 {
    display:inline-block;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    background:red;
}*/

.circle1 {
    background-color:#889fbe;
    color:000;
    /*margin-top:-8%;
    left:10%;*/
}

.circle2 {
    /*margin-top:10%;*/
    color:000;
    /*left:24%;*/
    background-color:#b1daf6;
}
.circle3 {
  /*margin-top:24%;
  left:10%;*/
  background-color:#4f4f51;
}

.transparent_class {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

  /* IE 5-7 */
  filter: alpha(opacity=70);

  /* Netscape */
  -moz-opacity: 0.7;

  /* Safari 1.x */
  -khtml-opacity: 0.7;

  /* Good browsers */
  opacity: 0.7;
}

