<h4>Five Moats</h4>

<!--<ul style="list-style:none;padding-left:5px;">
    <li>
        <ion-icon name="checkmark" style="color:green;"></ion-icon>
        Brand
        <p style="display:none;">a product you're willing to pay more for because you trust it e.g. Coke, Gillette, Disney, McDonald's, Pepsi, Nike, Budweiser, Harley-Davidson</p>
    </li>
    <li>
        <ion-icon name="checkmark" style="color:green;"></ion-icon>
        Secret
        <p style="display:none;">a business that has a patent or trade secret that makes direct competition illegal or very difficult e.g. Pfizer, 3M, Intel</p>
    </li>
    <li>
        <ion-icon name="close" style="color:red;"></ion-icon>
        Toll
        <p style="display:none;">a business with exclusive control of a market - giving it the ability to collect a "toll" form anyone needing that service or product e.g. media companies, utilites , ad agencies</p>
    </li>
    <li>
        <ion-icon name="close" style="color:red;"></ion-icon>
        Switching
        <p style="display:none;">a business that's so much a part of your life that switching isn't worth the trouble e.g. ADR Paychex, H&R Block, Microsoft</p>
    </li>
    <li>
        <ion-icon name="close" style="color:red;"></ion-icon>
        Price
        <p style="display:none;">a business that can price products so low no one can compete e.g. Wall-Mart, Costco, Bed Bath & Beyond, Home Depot, Target</p>
    </li>
</ul>-->

<ion-item>
    <ion-label>Brand <small>(pay more for because you trust it)</small></ion-label>
    <ion-checkbox secondary checked="{{moat.brand}}" disabled></ion-checkbox>
    <p style="display:none;">a product you're willing to pay more for because you trust it e.g. Coke, Gillette, Disney, McDonald's, Pepsi, Nike, Budweiser, Harley-Davidson</p>
</ion-item>
<ion-item>
    <ion-label>Secret <small>(patent or trade secret)</small></ion-label>
    <ion-checkbox secondary checked="{{moat.secret}}" disabled></ion-checkbox>
    <p style="display:none;">a business that has a patent or trade secret that makes direct competition illegal or very difficult e.g. Pfizer, 3M, Intel</p>
</ion-item>
<ion-item>
    <ion-label>Toll <small>(exclusive control of a market)</small></ion-label>
    <ion-checkbox secondary checked="{{moat.toll}}" disabled></ion-checkbox>
    <p style="display:none;">a business with exclusive control of a market - giving it the ability to collect a "toll" form anyone needing that service or product e.g. media companies, utilites , ad agencies</p>
</ion-item>
<ion-item>
    <ion-label>Switching <small>(so much a part of your life)</small></ion-label>
    <ion-checkbox secondary checked="{{moat.switching}}" disabled></ion-checkbox>
    <p style="display:none;">a business that's so much a part of your life that switching isn't worth the trouble e.g. ADR Paychex, H&R Block, Microsoft</p>
</ion-item>
<ion-item>
    <ion-label>Price <small>(price so low no one can compete)</small></ion-label>
    <ion-checkbox secondary checked="{{moat.price}}" disabled></ion-checkbox>
    <p style="display:none;">a business that can price products so low no one can compete e.g. Wall-Mart, Costco, Bed Bath & Beyond, Home Depot, Target</p>
</ion-item>