<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="selectedItem" class="selection">
    <img src="{{selectedItem.logo}}">
    <b>{{selectedItem.name}}</b> {{selectedItem.description}}
  </div>
</ion-content>
<ion-footer>
  <button fab fab-bottom fab-right fab-fixed>
        <ion-icon name="create"></ion-icon>
    </button>
</ion-footer>