<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'Sign In' | translate }}</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span primary showWhen="ios">{{ 'Cancel' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
            <ion-label floating>{{ 'Username' | translate }}</ion-label>
            <ion-input type="text" #username></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>{{ 'Password' | translate }}</ion-label>
            <ion-input type="password" #password></ion-input>
        </ion-item>

        <button ion-button class="sign-in" large full (click)="signIn(username.value, password.value)">{{ 'Sign In' | translate }}</button>
    </ion-list>
</ion-content>