<ion-header>
    <ion-toolbar>
        <ion-title>
            {{company.id ? ('Edit' | translate) : ('Create' | translate)}}
        </ion-title>
        <ion-buttons start>
            <button (click)="dismiss()">
        <span primary showWhen="ios">{{ 'Cancel' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label floating>{{ 'Symbol' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="company.symbol"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{ 'Name' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="company.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>{{ 'Sector' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="company.sector"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{ 'Subsector' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="company.subsector"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>{{ 'Industry' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="company.industry"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>{{ 'Description' | translate }}</ion-label>
            <ion-textarea [(ngModel)]="company.description"></ion-textarea>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <button fab fab-bottom fab-right fab-fixed>
        <ion-icon name="checkmark"></ion-icon>
    </button>
</ion-footer>