<h4>Big five annual</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Year</th>
            <th>Sales</th>
            <th>EPS</th>
            <th>Equity</th>
            <th>Cash</th>
            <th>ROIC</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of bigFiveAnnual">
            <td>{{entry.year}}</td>
            <td>{{entry.sales}}</td>
            <td>{{entry.eps}}</td>
            <td>{{entry.equity}}</td>
            <td>{{entry.cash}}</td>
            <td>{{entry.roic * 100 | number : '1.1-1'}}%</td>
        </tr>        
    </tbody>
</table>