<md-toolbar color="primary">
  <img src="images/touch/invest-systems-org-48x48.png" width="48" height="48" alt="Invest Systems Logo" />
  <span>{{title}}</span>
</md-toolbar>

<main>
  <div itemscope itemtype="http://schema.org/Book">
      <h1 itemprop="name">Rule #1: The Simple Strategy for Successful Investing in Only 15 Minutes a Week</h1>
      <figure itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img src="images/phil-town.png" width="349" height="338" alt="Phil Town" itemprop="image" />
        <figcaption itemprop="name">Phil Town</figcaption>
      </figure>
  </div>
  <ul class="table-of-content">
    <li><a href="#introduction">Make Money No Matter What</a></li>
    <li><a href="#chapter-1">The Myths of Investing</a></li>
    <li><a href="#chapter-2">Rule #1 and the Four Ms</a></li>
    <li><a href="#chapter-3">Buy a Business, Not a Stock</a></li>
    <li><a href="#chapter-4">Identify a Moat</a></li>
    <li><a href="#chapter-5">The Big Five Numbers</a></li>
    <li><a href="#chapter-6">Calculate the Big Five</a></li>
    <li><a href="#chapter-7">Bet on the Jockey</a></li>
    <li><a href="#chapter-8">Demand a Margin of Safety</a></li>
    <li><a href="#chapter-9">Calculate the Sticker Price</a></li>
    <li><a href="#chapter-10">Know the Right Time to Sell</a></li>
    <li><a href="#chapter-11">Grab the Stick</a></li>
    <li><a href="#chapter-12">The Tree Tools</a></li>
    <li><a href="#chapter-13">Take Baby Steps</a></li>
    <li><a href="#chapter-14">Eliminate the Barriers</a></li>
    <li><a href="#chapter-15">Prepare for Your First RUle #1 Purchase</a></li>
    <li><a href="#q-and-a">Q&A</a></li>
  </ul>
  <article id="introduction">
    <h1>Make Money No Matter What</h1>
    <blockquote>
      <p>...15 percent or more in the stock market, with almost no risk.</p>
    </blockquote>
  </article>
</main>


<!--<md-icon svgSrc="/assets/icons/search-icon.svg"></md-icon>
<md-icon>home</md-icon>
<md-icon svgIcon="core:alarm"></md-icon>
<md-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></md-icon>-->
