<md-sidenav-layout class="demo-sidenav-layout">
  <md-sidenav #start mode="side">
    Start Side Drawer
    <br>
    <button md-button (click)="start.close()">Close</button>
    <br>
    <button md-button (click)="start.mode = (start.mode == 'push' ? 'over' : (start.mode == 'over' ? 'side' : 'push'))">Toggle Mode</button>
    <div>Mode: {{start.mode}}</div>
    <br>
  </md-sidenav>
  <div class="sidenav-content">
    <md-toolbar [color]="toolbarColor">
      <img src="images/touch/invest-systems-org-48x48.png" width="48" height="48" alt="Invest Systems Logo" (click)="start.toggle()"
      />
      <span>{{title}}</span>
    </md-toolbar>
    <companies-list></companies-list>
    <rule-one></rule-one>
  </div>
</md-sidenav-layout>