<md-toolbar color="primary">
  <img src="images/touch/invest-systems-org-48x48.png" width="48" height="48" alt="Invest Systems Logo" />
  <span>{{title}}</span>
</md-toolbar>

<main>
  <div itemscope itemtype="http://schema.org/Book">
      <h1 itemprop="name">Rule #1: The Simple Strategy for Successful Investing in Only 15 Minutes a Week</h1>
      <figure itemprop="author" itemscope itemtype="http://schema.org/Person">
        <img src="images/phil-town.png" width="349" height="338" alt="Phil Town" itemprop="image" />
        <figcaption itemprop="name">Phil Town</figcaption>
      </figure>
  </div>
  <ul class="table-of-content">
    <li><a href="#introduction">Make Money No Matter What</a></li>
    <li><a href="#chapter-1">The Myths of Investing</a></li>
    <li><a href="#chapter-2">Rule #1 and the Four Ms</a></li>
    <li><a href="#chapter-3">Buy a Business, Not a Stock</a></li>
    <li><a href="#chapter-4">Identify a Moat</a></li>
    <li><a href="#chapter-5">The Big Five Numbers</a></li>
    <li><a href="#chapter-6">Calculate the Big Five</a></li>
    <li><a href="#chapter-7">Bet on the Jockey</a></li>
    <li><a href="#chapter-8">Demand a Margin of Safety</a></li>
    <li><a href="#chapter-9">Calculate the Sticker Price</a></li>
    <li><a href="#chapter-10">Know the Right Time to Sell</a></li>
    <li><a href="#chapter-11">Grab the Stick</a></li>
    <li><a href="#chapter-12">The Tree Tools</a></li>
    <li><a href="#chapter-13">Take Baby Steps</a></li>
    <li><a href="#chapter-14">Eliminate the Barriers</a></li>
    <li><a href="#chapter-15">Prepare for Your First RUle #1 Purchase</a></li>
    <li><a href="#q-and-a">Q&A</a></li>
  </ul>
  <article id="introduction">
    <h1>Make Money No Matter What</h1>
    <blockquote>
      <p>...15 percent or more in the stock market, with almost no risk.</p>
    </blockquote>
    <blockquote>
      <p>striving for a 15-percent return by guessing what to invest in ("speculating" in investor-speak) is a guaranteed way to lose money.</p>
    </blockquote>
    <blockquote>
      <p>According to Buffett, "There are only two rules of investing: Rule #1: Don't lose money ... and Rule #2: Don't forget Rule #1.</p>
    </blockquote>
    <blockquote>
      <p>You possess an enormous number of built-in advantages - from what you know and what information you can access, to how fast you can move in and out of the market. The totality of these advantages makes it possible to outperform the so-called experts.</p>
    </blockquote>
    <blockquote>
      <p>"Information is the currencty of the Internet."</p>
    </blockquote>
  </article>
  <article id="chapter-1">
    <h1>The Myths of Investing</h1>
    <blockquote>
      <p>...almost everyone is convinced that a higer rate of return necessarily means a lot more risk. And they're more afraid of losing money in an attempt to get a higer return than of their inability to retire comfortably.</p>
    </blockquote>
    <blockquote>
      <p>...almost no fund managers have done what they're paid by you to do - beat the market.</p>
    </blockquote>
    <blockquote>
      <p>
        Myth 1. You Have to Be an Expert to Manage Money.<br>
        Myth 2. You Can't Beat the Market.<br>
        Myth 3. The Best Way to Minimize Risk Is to Fiversify and Hold for the Long Term).<br>
      </p>
    </blockquote>
    <blockquote>
      <p>...find a wonderful company at an attractive price...You focus on a few businesses that you understand. You buy when the big guys...</p>
    </blockquote>
    <blockquote>
      <p>...fund managers are the market; when they move billions of dollars into a stock, the price of that stock goes up. When they take their money out, the price of that stock goes down.</p>
    </blockquote>
    <blockquote>
      <p>The fund managers control the price of almost all the stocks in the market, but they can't easily get out when they want to.</p>
    </blockquote>
    <blockquote>
      <p>A Rule #1 business buyers, we pick a few choice businesses in different sectors of the market.</p>
    </blockquote>
    <blockquote>
      <p>TODO</p>
    </blockquote>
    <blockquote>
      <p>TODO</p>
    </blockquote>
    <blockquote>
      <p>TODO</p>
    </blockquote>
    <blockquote>
      <p>TODO</p>
    </blockquote>
  </article>
</main>

<p class="slogan"></p>

<!--<md-icon svgSrc="/assets/icons/search-icon.svg"></md-icon>
<md-icon>home</md-icon>
<md-icon svgIcon="core:alarm"></md-icon>
<md-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></md-icon>-->
