<table>
    <tbody>
        <tr>
            <th>Name:</th>
            <td>{{(company | async)?.name}}</td>
        </tr>
        <tr>
            <th>Abbreviation:</th>
            <td>{{(company | async)?.abbreviation}}</td>
        </tr>
        <tr>
            <th>Full Name:</th>
            <td>{{(company | async)?.fullName}}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{(company | async)?.address}}</td>
        </tr>
        <tr>
            <th>State:</th>
            <td>{{(company | async)?.state}}</td>
        </tr>
        <tr>
            <th>CEO:</th>
            <td>{{(company | async)?.ceo}}</td>
        </tr>

        <tr>
            <th>Phone:</th>
            <td>{{(company | async)?.phone}}</td>
        </tr>
        <tr>
            <th>Fax:</th>
            <td>{{(company | async)?.fax}}</td>
        </tr>
        <tr>
            <th>Website:</th>
            <td><a href="http://{{(company | async)?.website}}" rel="nofollow">{{(company | async)?.website}}</a></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><a href="mailto:{{(company | async)?.email}}">{{(company | async)?.email}}</a></td>
        </tr>

        <tr>
            <th>IPO year:</th>
            <td>{{(company | async)?.ipoYear}}</td> <!--TODO: format year, month with momentsj?-->
        </tr>
        <tr>
            <th>Actions count:</th>
            <td>{{(company | async)?.actionsCount}}</td>
        </tr>
        <tr>
            <th>Market value:</th>
            <td>{{(company | async)?.marketValue}}</td>
        </tr>
    </tbody>
</table>
<img src="/assets/companies/{{(company | async)?.name}}.png" alt="{{(company | async)?.name}}" />