<h2>{{ 'Portfolio' | translate }}</h2>
<ion-card *ngFor="let company of companies">
    <ion-item>
        <ion-thumbnail item-left>
            <img src="{{company.logo}}" />
        </ion-thumbnail>
        <h2>{{company.name}}</h2>
        <p>{{company.symbol}}</p>
    </ion-item>
    <ion-card-content>
        <!--TODO-->
    </ion-card-content>
    <ion-row>
        <ion-col>
            <button ion-button color="primary" clear small (click)="like(company)">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
        </ion-col>
        <ion-col>
            <button ion-button color="primary" clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                </button>
        </ion-col>
        <ion-col center text-center>
            <ion-note>
                11h ago
            </ion-note>
        </ion-col>
    </ion-row>
</ion-card>