<h2>{{ 'Portfolio' | translate }}</h2>
<ion-card *ngFor="let company of companies">
	<ion-item>
		<ion-thumbnail item-left>
			<img src="{{company.logo}}" />
		</ion-thumbnail>
		<h2>{{company.name}}</h2>
		<p>{{company.symbol}}</p>
	</ion-item>
	<ion-card-content>
		<h2>Positions</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Shares</th>
					<th>Buy</th>
					<th>Sell</th>
					<th>Profit</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2016.04.23</td>
					<td>130</td>
					<td>{{ 34 | currency:'USD':true:'1.0-0' }}</td>
					<td colorized="34">{{ 36 | currency:'USD':true:'1.0-0' }}</td>
					<td colorized="0">{{ 260 | currency:'USD':true:'1.0-0' }}</td>
				</tr>
				<tr>
					<td>2001.04.23</td>
					<td>50</td>
					<td>{{ 12 | currency:'USD':true:'1.0-0' }}</td>
					<td colorized="12">{{ 36 | currency:'USD':true:'1.0-0' }}</td>
					<td colorized="0">{{ 1200 | currency:'USD':true:'1.0-0' }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4" style="text-align:right;">Total:</th>
					<td colorized="0">{{ 1460 | currency:'USD':true:'1.0-0' }}</td>
				</tr>
			</tfoot>
		</table>
	</ion-card-content>
	<ion-row>
		<ion-col>
			<button ion-button color="primary" clear small (click)="like(company)">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
		</ion-col>
		<ion-col>
			<button ion-button color="primary" clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                </button>
		</ion-col>
		<ion-col center text-center>
			<ion-note>
				11h ago
			</ion-note>
		</ion-col>
	</ion-row>
</ion-card>