<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!company">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{company.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="company">
    <ion-row>
      <h1>{{company.name}}</h1>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <img src="{{company.logo}}">
      </ion-col>
      <ion-col width-50>
        <strong>{{ '_companies.Symbol' | translate }}:</strong> {{company.symbol}}<br>
        <strong>{{ '_companies.Founded' | translate }}:</strong> 1975, USA<br>
        <strong>{{ '_companies.Industry' | translate }}:</strong> {{company.industry}}<br>
        <strong>{{ '_companies.CEO' | translate }}:</strong> Satya Nadella<br> 
        <strong>{{ '_companies.IPO' | translate }}:</strong> 1986, NASDAQ<br>
        <strong>{{ '_companies.Price' | translate }}:</strong> <span style="color:green;">$22</span><ion-icon style="color:red;" name="trending-down"></ion-icon><br>
        <strong>{{ '_companies.Rule' | translate }} #1:</strong> <ion-icon style="color:green;" name="thumbs-up"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <social-network [websites]="websites"></social-network>
    </ion-row>
    <ion-row>
      {{company.description}}
    </ion-row>
    <ion-row>
      <rule-one [companySymbol]='company.symbol'></rule-one>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom> <!--*ngIf="identityService.token"-->
		<button ion-fab><ion-icon name="arrow-dropup"></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab color="primary" (click)="edit(company)"><ion-icon name="create"></ion-icon></button>

			<button ion-fab color="secondary" (click)="watchlist(company)">
        <ion-icon *ngIf="!company.inWatchlist" name="eye"></ion-icon>
        <ion-icon *ngIf="company.inWatchlist" name="eye-off"></ion-icon>
      </button>

      <button ion-fab color="danger" (click)="portfolio(company)">
        <ion-icon *ngIf="!company.inPortfolio" name="cart"></ion-icon>
        <ion-icon *ngIf="company.inPortfolio" name="cash"></ion-icon>
      </button>
		</ion-fab-list>
	</ion-fab>
</ion-content>