<h4>Three circles</h4>

<small>Is this company related to your:</small>
<ion-item>
    <ion-label>Passion <small>(things you love to do)</small></ion-label>
    <ion-checkbox secondary checked="{{meaning.passion}}"></ion-checkbox> <!--TODO: disabled-->
</ion-item>
<ion-item>
    <ion-label>Talent <small>(things you are really good at)</small></ion-label>
    <ion-checkbox secondary checked="{{meaning.talent}}"></ion-checkbox>
</ion-item>
<ion-item>
    <ion-label>Money <small>(make money or spend money on)</small></ion-label>
    <ion-checkbox secondary checked="{{meaning.money}}"></ion-checkbox>
</ion-item>