<h4>Three circles</h4>

<small>Is this company related to your:</small>
<ion-item>
    <ion-icon name="checkbox" *ngIf="meaning.passion"></ion-icon>
    <ion-icon name="square-outline" *ngIf="!meaning.passion"></ion-icon>
    Passion <small>(things you love to do)</small>
</ion-item>
<ion-item>
    <ion-icon name="checkbox" *ngIf="meaning.talent"></ion-icon>
    <ion-icon name="square-outline" *ngIf="!meaning.talent"></ion-icon>
    Talent <small>(things you are really good at)</small>
</ion-item>
<ion-item>
    <ion-icon name="checkbox" *ngIf="meaning.money"></ion-icon>
    <ion-icon name="square-outline" *ngIf="!meaning.money"></ion-icon>
    Money <small>(make money or spend money on)</small>
</ion-item>