<h2>{{ 'Watchlist' | translate }}</h2>
<ion-card *ngFor="let company of companies">
	<ion-item>
		<ion-thumbnail item-left>
			<img src="{{company.logo}}" />
		</ion-thumbnail>
		<h3>
			{{company.symbol}}
            <rule-one-rating [isWonderful]="true"></rule-one-rating>			
		</h3>
		<h2>{{company.name}}</h2>
	</ion-item>
	<ion-card-content>		
	</ion-card-content>
	<ion-row>
		<ion-col>
		</ion-col>
		<ion-col>
			<span class="price"><span class="current">{{ 36 | currency:'USD':true:'1.2-2' }}</span> <span class="change">+0.69 (+2.53%)</span></span>
		</ion-col>
	</ion-row>
</ion-card>