<h4>Big five</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Period</th>
            <th>Sales</th>
            <th>EPS</th>
            <th>Equity</th>
            <th>Cash</th>
            <th>ROIC</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let growthRate of bigFiveGrowthRates">
            <td>
                {{growthRate.endYear - growthRate.startYear}} years<br>
                <small>{{growthRate.startYear}} - {{growthRate.endYear}}</small>
            </td>
            <td colorized>{{growthRate.sales | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.eps | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.equity | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.cash | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.roic | number : '1.1-1'}}%</td>
        </tr>
    </tbody>
</table>