<h4>{{ '_rule.Big_Five' | translate }}</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ '_rule.Period' | translate }}</th>
            <th>{{ '_rule.Sales' | translate }}</th>
            <th>{{ '_rule.EPS' | translate }}</th>
            <th>{{ '_rule.Equity' | translate }}</th>
            <th>{{ '_rule.Cash' | translate }}</th>
            <th>{{ '_rule.ROIC' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let growthRate of bigFiveGrowthRates">
            <td>
                {{growthRate.endYear - growthRate.startYear}}
                <span *ngIf="growthRate.endYear - growthRate.startYear > 1">{{ '_rule.years' | translate }}</span>
                <span *ngIf="growthRate.endYear - growthRate.startYear === 1">{{ '_rule.year' | translate }}</span>
                <br>
                <small>{{growthRate.startYear}} - {{growthRate.endYear}}</small>
            </td>
            <td colorized>{{growthRate.sales | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.eps | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.equity | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.cash | number : '1.1-1'}}%</td>
            <td colorized>{{growthRate.roic | number : '1.1-1'}}%</td>
        </tr>
    </tbody>
</table>