<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    ROIC Last ten years (1995 - 2004) 32% Last five years (1999 - 2004) 30% Last year (2003 - 2004) 36%
    <table>
        <tr>
            <th></th>
            <th scope="col">1995</th>
            <th scope="col">1996</th>
            <th scope="col">1997</th>
            <th scope="col">1998</th>
            <th scope="col">1999</th>
            <th scope="col">2000</th>
            <th scope="col">2001</th>
            <th scope="col">2002</th>
            <th scope="col">2003</th>
            <th scope="col">2004</th>
        </tr>
        <!--<tr>
        <th scope="row">Year</th>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>-->
        <tr>
            <th scope="row">SALES</th>
            <td>163</td>
            <td>214</td>
            <td>283</td>
            <td>391</td>
            <td>498</td>
            <td>610</td>
            <td>769</td>
            <td>1009</td>
            <td>1310</td>
            <td>1798</td>
        </tr>
        <tr>
            <th scope="row">EPS</th>
            <td>0.08</td>
            <td>0.12</td>
            <td>0.19</td>
            <td>0.26</td>
            <td>0.33</td>
            <td>0.41</td>
            <td>0.60</td>
            <td>0.87</td>
            <td>1.30</td>
            <td>0.77</td>
        </tr>
        <tr>
            <th scope="row">EQUITY</th>
            <td>55</td>
            <td>88</td>
            <td>124</td>
            <td>200</td>
            <td>231</td>
            <td>261</td>
            <td>481</td>
            <td>700</td>
            <td>1027</td>
            <td>957</td>
        </tr>
        <tr>
            <th scope="row">CASH</th>
            <td>12</td>
            <td>15</td>
            <td>36</td>
            <td>26</td>
            <td>31</td>
            <td>83</td>
            <td>120</td>
            <td>224</td>
            <td>287</td>
            <td>400</td>
        </tr>
    </table>

    <table>
        <col>
        <colgroup span="2"></colgroup>
        <colgroup span="2"></colgroup>
        <tr>
            <td rowspan="2"></td>
            <th colspan="2" scope="colgroup">Sales</th>
            <th colspan="2" scope="colgroup">EPS</th>
            <th colspan="2" scope="colgroup">Equity</th>
            <th colspan="2" scope="colgroup">Cash</th>
        </tr>
        <tr>
            <th scope="col">10</th>
            <th scope="col">5</th>
            <th scope="col">1</th>
            <th scope="col">10</th>
            <th scope="col">5</th>
            <th scope="col">1</th>
            <th scope="col">10</th>
            <th scope="col">5</th>
            <th scope="col">1</th>
        </tr>
        <tr>
            <td>32%</td>
            <td>29%</td>
            <td>37%</td>
            <td>29%</td>
            <td>24%</td>
            <td>-41%</td>
            <td>37%</td>
            <td>-7%</td>
            <td>48%</td>
            <td>68%</td>
            <td>39%</td>
        </tr>
    </table>
</body>

</html>