<h2>{{ 'Portfolio' | translate }}</h2>
<ion-card>
    <ion-item>
        <ion-thumbnail item-left>
            <img src="img/MENT.png" />
        </ion-thumbnail>
        <h2>Mentor Graphics Corporation</h2>
        <p>MENT</p>
    </ion-item>
    <ion-card-content>
        <!--TODO-->
    </ion-card-content>
    <ion-row>
        <ion-col>
            <button primary clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>12 Likes</div>
                </button>
        </ion-col>
        <ion-col>
            <button primary clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>4 Comments</div>
                </button>
        </ion-col>
        <ion-col center text-center>
            <ion-note>
                11h ago
            </ion-note>
        </ion-col>
    </ion-row>
</ion-card>