<table class="table table-striped">
    <thead>
        <tr>
            <th>{{ '_rule.Year' | translate }}</th>
            <th>{{ '_rule.Sales' | translate }}</th>
            <th>{{ '_rule.EPS' | translate }}</th>
            <th>{{ '_rule.Equity' | translate }}</th>
            <th>{{ '_rule.Cash' | translate }}</th>
            <th>{{ '_rule.ROIC' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of bigFiveAnnual">
            <td>{{entry.year}}</td>
            <td>{{entry.sales}}</td>
            <td>{{entry.eps}}</td>
            <td>{{entry.equity}}</td>
            <td>{{entry.cash}}</td>
            <td>{{entry.roic * 100 | number : '1.1-1'}}%</td>
        </tr>        
    </tbody>
</table>