level-five-leaders {
    .leadership-examples ul {
        list-style: none;
        padding: 0;
    }

    .leadership-examples ul.examples {
        padding-bottom: 10px;
        font-size: 0.9em; 
    }


    .leadership-examples ul.references {
        border-bottom: 1px solid #bbb;
        padding-bottom: 15px;
        font-size: 0.8em;
    }
}
