<h2>{{ 'Management' | translate }}</h2>
<section *ngFor="let leader of leaders; let i = index">
	<ion-item>
		<ion-thumbnail item-left>
			<img src="{{leader.avatar}}">
		</ion-thumbnail>
		<h2 *ngIf="leader.isLevelFiveLeader" style="color:green;">{{leader.name}}</h2>
		<h2 *ngIf="!leader.isLevelFiveLeader" style="color:red;">{{leader.name}}</h2>
		<p>{{leader.position}}</p>
		<ion-note item-right>
			<button ion-button color="light" small icon-left full (click)="more[i]=!more[i]">
                <ion-icon *ngIf="!more[i]" name="arrow-down"></ion-icon>
                <ion-icon *ngIf="more[i]" name="arrow-up"></ion-icon>
            </button>
		</ion-note>
	</ion-item>

	<div class="leadership-examples" *ngIf="more[i]">
		<ul class="examples">
			<li *ngFor="let example of leader.leadershipExamples; let i = index">
				<ion-icon *ngIf="example.isPositive" style="color:green;" name="add-circle"></ion-icon>
				<ion-icon *ngIf="!example.isPositive" style="color:red;" name="remove-circle"></ion-icon>
				{{example.content}} <sup><a href="#">[{{i+1}}]</a></sup>
			</li>
		</ul>
		<ul class="references">
			<li *ngFor="let example of leader.leadershipExamples; let i = index">
				{{i+1}}. <span [innerHTML]="example.reference"></span>
			</li>
		</ul>
	</div>
</section>